<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>redditclone</title>
    <script src="https://use.fontawesome.com/9dcc45b22a.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button> -->
                <p class="navbar-text">REDDIT(CLONE)</p>
            </div>
            <!-- <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/addthought">ADD NEW</a></li>
                <li><a href="/">HOME</a></li>
            </ul>
        </div> -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="head">
                <h1>URL VOTER</h1>
            </div>
            <div class="center-block">
                <section class="submit-link">
                    <form class="form-horizontal" action="/add-link" method="post">
                        <div class="inputs">
                            <label for="url">URL</label>
                            <input type="text" name="url" value="" placeholder="https://www.entirelink.com">
                        </div>
                        <div class="inputs">
                            <label for="title">TITLE</label>
                            <input type="text" name="title" value="" placeholder="witty title">
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </section>
            </div>
            <div class="row">
                <div class="col-md-12" id="vote-links">
                    <main>
                        {{#each data}}
                            <div class="link well well-lg responsive">
                                <form class="" action="/upvote/{{id}}" method="post">
                                    <button class="up btn btn-default" id="up">
                                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <span class="votes">{{votes}}</span>
                                <span class="title"><a href="{{url}}">{{title}}</a></span>
                                <a class= "btn btn-success" href="/comments/{{id}}">comment</a>
                                <form class="" action="/downvote/{{id}}" method="post">
                                    <button class="down btn btn-defualt" id="down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        {{/each}}
                    </main>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
